# Convert Image to CSV

This notebook is intended to convert images such as jpegs and pngs to csv format.

In [10]:
from PIL import Image
import numpy as np
import sys
import os
import csv
import re
import pandas as pd

def convert(lst):
#     return str(lst).translate("[],\'")
    return str(lst).translate("")

def createFileList(myDir, format0='.png'):
    fileList = []
    for root, dirs, files in os.walk(myDir, topdown=False):
        for name in files:
            if name.endswith(format0):
                fullName = os.path.join(root, name)
                fileList.append(fullName)
    return fileList

myFileList = createFileList('./Outputs/1_Disgust_Augmented')

my_dict = {"pixels":[]}

for file in myFileList:
    img_file = Image.open(file)
    width, height = img_file.size
    format0 = img_file.format
    mode = img_file.mode
    img_grey = img_file.convert('L')
    
    value = np.asarray(img_grey.getdata(), dtype=np.int).reshape((img_grey.size[1],img_grey.size[0]))
    value2 = value.flatten()
    new_value = value2.tolist()
    
#     abc = convert(new_value)
#     fgh = re.sub(r'[^\w\s]', '', abc)
    mystring = re.sub(r'[^\w\s]', '', convert(new_value))
    my_dict["pixels"].append(mystring)

df = pd.DataFrame.from_dict(my_dict)
df

#     with open("image_to_csv.csv", 'a') as f:
#         writer = csv.writer(f)
#         for val in new_value:
# #             f.write(' '.join(str(val))
# #             f.write('\r\n')
#             f.write(' '.join(str(num) for num in val))
# #             f.write('\r\n')

                                                 pixels
0     141 141 143 145 144 129 105 94 104 122 160 172...
1     221 212 205 198 197 202 201 190 185 177 149 13...
2     148 149 150 165 135 137 158 141 161 153 119 14...
3     100 96 94 77 64 71 62 64 82 92 101 121 85 132 ...
4     135 129 123 118 115 114 107 103 98 91 87 81 77...
...                                                 ...
1006  138 114 80 45 27 22 21 11 18 19 12 0 23 67 102...
1007  210 216 213 220 214 230 218 200 169 123 94 89 ...
1008  184 166 118 124 188 237 253 250 252 247 253 24...
1009  191 188 190 192 196 199 202 203 200 194 191 17...
1010  122 115 108 92 77 79 78 78 75 69 80 107 131 14...

[1011 rows x 1 columns]

In [11]:
# df = pd.read_csv('image_to_csv.csv',names=['pixels'])
df = pd.DataFrame.from_dict(my_dict)
df['emotion'] = 1
df['Usage'] = 'Training'
df2 = df[['emotion','pixels','Usage']]
df2.to_csv('./Data/augmented.csv')
df2

      emotion                                             pixels     Usage
0           1  141 141 143 145 144 129 105 94 104 122 160 172...  Training
1           1  221 212 205 198 197 202 201 190 185 177 149 13...  Training
2           1  148 149 150 165 135 137 158 141 161 153 119 14...  Training
3           1  100 96 94 77 64 71 62 64 82 92 101 121 85 132 ...  Training
4           1  135 129 123 118 115 114 107 103 98 91 87 81 77...  Training
...       ...                                                ...       ...
1006        1  138 114 80 45 27 22 21 11 18 19 12 0 23 67 102...  Training
1007        1  210 216 213 220 214 230 218 200 169 123 94 89 ...  Training
1008        1  184 166 118 124 188 237 253 250 252 247 253 24...  Training
1009        1  191 188 190 192 196 199 202 203 200 194 191 17...  Training
1010        1  122 115 108 92 77 79 78 78 75 69 80 107 131 14...  Training

[1011 rows x 3 columns]