# Data Exploration

In [1]:
import pandas as pd

df = pd.read_csv('../Sergey/Data/fer2013.csv')
df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [7]:
df_0 = df[(df['emotion']==5)]
df_0.to_csv('./Data/5_Surprise.csv')
df_0

       emotion                                             pixels        Usage
15           5  107 107 109 109 109 109 110 101 123 140 144 14...     Training
26           5  162 200 187 180 197 198 196 192 176 152 136 11...     Training
29           5  50 44 74 141 187 187 169 113 80 128 181 172 76...     Training
39           5  68 69 67 60 55 50 45 47 50 48 43 41 45 48 48 4...     Training
51           5  1 1 5 9 6 3 13 64 100 90 114 122 132 139 147 1...     Training
...        ...                                                ...          ...
35857        5  253 255 229 150 89 61 54 60 55 49 61 50 56 45 ...  PrivateTest
35863        5  196 196 197 197 198 198 198 196 176 148 122 10...  PrivateTest
35872        5  131 159 90 59 10 0 1 1 1 0 1 1 0 0 2 2 5 7 9 1...  PrivateTest
35874        5  43 43 51 73 94 97 102 95 99 107 126 144 154 17...  PrivateTest
35875        5  248 251 239 144 102 95 82 77 91 138 153 145 14...  PrivateTest

[4002 rows x 3 columns]

In [3]:
# df2 = df[0:100]
# df2.to_csv('./Data/sample_data.csv')